#lista-pedidos {
  display: grid;
  gap: 1.5rem;
}
.card-pedido {
  background-color: var(--light-text);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  border-left: 5px solid var(--primary-color);
  margin-bottom: 1rem;
}
.card-pedido h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.card-pedido p {
  margin-bottom: 0.5rem;
}
.card-pedido ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 1rem 0;
  color: #555;
}
.status {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-weight: 500;
  font-size: 0.9rem;
  display: inline-block;
  text-transform: capitalize;
}
.status.pago {
  background-color: #d1fae5;
  color: #065f46;
}
.status.cancelado {
  background-color: #fee2e2;
  color: #991b1b;
}
.novo-pedido-btn {
  display: block;
  margin: 2rem auto;
}
.erro-container {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 1.5rem;
}